<footer class="footer">
  <small>
    The <%= link_to "Ruby On Rails tutorial" , "#" %>
    by <%= link_to "Micheal Hartl", "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
